<!-- <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html"/>
<link rel="stylesheet" href ="/scripts/tripEventReport/stylesheets/ter-form-card.css">
<link rel="import" href="/scripts/tripEventReport/components/ter-trip-info/ter-trip-info.html"/> 
<link rel="import" href="/bower_components/px-tabs/px-tab.html"/>
 <link rel="import" href="/bower_components/px-tabs/px-tab-set.html"/>
 <link rel="import" href="/bower_components/px-tabs/px-tab-pages.html"/>
 <link rel="import" href="/bower_components/px-data-table/px-data-table.html"/> -->
 

 <link rel="import" href="/bower_components/polymer/polymer.html" /> 
<link rel="import" href="/bower_components/px-data-table/px-data-table.html" />

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html"/>



<dom-module id="ter-form-card" attributes="">
    <template>
<px-card>
			 <px-data-table id="resultTable" selectable striped table-data="{{json}}">
              <px-data-table-column name="outageCount"
              type="string"
              label="Site Name"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="frame"
              type="string"
              label="Frame"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              
              <px-data-table-column name="component"
              type="string"
              label="Component"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="purchaseDate"
              type="string"
              label="Purchase Date"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="expiryDate"
              type="string"
              label="Expiry Date"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="setType"
              type="string"
              label="Set Type"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="combustionType"
              type="string"
              label="Combustion Type"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="hwLimitHours"
              type="string"
              label="H/W Limit Hrs"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="hwLimitStats"
              type="string"
              label="H/W Limit Starts"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="qty"
              type="string"
              label="Quantity"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
              <px-data-table-column name="totalprice"
              type="string"
              label="Total Price"
              sortable
              searchable
              required
              searchplaceholder="Type to filter date"
              default=""
              filter-function-name="filterWholeWord"
              sort-function-name="sortColumn">
              </px-data-table-column>
                                                                                                                                            
              </px-data-table>
             
			</px-card>
    </template>
</dom-module>
<script>
Polymer({
    is: 'ter-form-card',
    behaviors: [px.card],
	ready: function(){
			this.cbrResultsService();
	},

	cbrResultsService: function() {
			
		var resp = this;
		/*var serviceUrl = "http://alpgstalendd1.cloud.ge.com:8040/services/pgsefcst/drilldown/inventory/getHistoricalData?&custName=QATAR+ELECTRICITY+AND+WATER+COMPANY&userId=501314779";
		window.px.dealer.httpRequest({
		    url: serviceUrl,
		    method: 'POST',
		  //  data:formData
		}).then(function(data){
		    resp.alarm = data.response;

		});*/
		
		var serviceUrl = "";
		var json = [{"outageCount":"783","outageYear":"2016","outageType":"CI","colorCode":"#005CB9"},
		            {"outageCount":"854","outageYear":"2013","outageType":"CI","colorCode":"#005CB9"}];
		var self = this;
			console.log("cbr results call");
	
			this.getData(serviceUrl).then(function(data) {
				//console.log("entered the response"+data);
				//console.log("test"+angular.toJson(data));
				self.data= data.response;
				//console.log("test1"+angular.toJson(self.data));
				self.json = json;
				
			});
			
	}
	
	 
	});
</script>

<body>
<ter-form-card id="ter-form-card"></ter-form-card>
 
</body>




