<style>
paper-button.fancy {
  background: #3E87E8;
  color: #F7F7FC;
}

paper-button.fancy:hover {
  background: #2B5EA2;
}

paper-button[disabled],
paper-button[toggles][active] {
  background: red;
}

</style>

<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="http://localhost:9000/views/chat-box.html">
<link rel="import" href="../bower_components/px-tabs-master/px-tab.html">
<link rel="import" href="../bower_components/px-tabs-master/px-tab-set.html">
<link rel="import" href="../bower_components/px-tabs-master/px-tab-pages.html">
<dom-module is="paper-custom-tab">
  <template>
<px-tab-set  selected="{{selected}}">
  <px-tab>Last Week</px-tab>
  <px-tab>Last Month</px-tab>
</px-tab-set>
<px-tab-pages selected="{{selected}}">
  <div>
  <chat-box chat-list="{{last-week-array}}"></chat-box>
  <div>
<iron-autogrow-textarea maxlength="200" maxRows="5" rows="2" placeholder="Type message.." style="width: 252px;"></iron-autogrow-textarea>
<paper-button raised class="fancy" style="float: right;margin-top: 5px;margin-right: 0px;"pointerDown="true">Submit</paper-button>
</div>
</div>
  <div>
  <chat-box chat-list="{{last-month-array}}"></chat-box>
  <div>
<iron-autogrow-textarea maxlength="200" maxRows="5" rows="2" placeholder="Type message.." style="width: 252px;"></iron-autogrow-textarea>
<paper-button raised class="fancy" style="float: right;margin-top: 5px;margin-right: 0px;"pointerDown="true">Submit</paper-button>
</div>
</div>
</px-tab-pages>
  </template>
  <script>
    Polymer({
      is: 'paper-custom-tab',
      properties: {
        selected: {
          type: Number,
          value: 0
        },
        "last-week-array": {
          type: Array
        },
        "last-month-array": {
          type: Array
        }
      }
    });
  </script>
</dom-module>